.popup {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background-color: rgb(88, 124, 197);
  display: none;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 10px;
  border: 2px solid rgb(88, 124, 197);
  border-radius: 5px;
}

.popupContent {
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
}

.popupTitle {
  height: 32px;
  font-size: 20px;
  margin: 0;
  padding: 3px;
  text-align: center;
}

.popupGrid {
  width: 100%;
  max-height: calc(100% - 34px);
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

.popupBtn {
  width: 100px;
  height: 30px;
  font-size: 14px;
  position: absolute;
  border: none;
  border-radius: 5px;
  transition: box-shadow 0.1s ease-in, left 0.1s ease-in, top 0.1s ease-in;
  z-index: 1;
}

.popupBtnReset {
  background-color: crimson;
  left: 0;
}

.popupBtnReset:hover {
  box-shadow: 1px 1px 5px crimson;
}

.popupBtnOk {
  background-color: rgb(75, 187, 159);
  right: 0;
}

.popupBtnOk:hover {
  box-shadow: -1px 1px 5px rgb(75, 187, 159);
}

.popupItem {
  background-color: rgb(85, 90, 114);
  border-radius: 20px;
  overflow: hidden;
}

.popupItemLabel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 0;
  transition: box-shadow 0.1s ease-in 0.1s, top 0.1s ease-in 0.1s;
}

.popupItemLabel:hover {
  box-shadow: 0px -2px 3px rgb(66, 64, 64);
  top: 2px;
}

.popupItemLabelBox {
  display: flex;
  align-items: center;
  padding: 2px;
}

.popupItemCheckbox {
  margin-right: 3px;
}

.popupItemIcon {
  height: 45px;
  width: 45px;
}

.popupOpen {
  display: block;
}

.popupClose {
  display: none;
}
