.popup {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background-color: rgb(88, 124, 197);
  display: none;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 12px;
  border-radius: 5px;
}

.popupTitle {
  /* height: 34px; */
  height: 34px;
  font-size: 20px;
  margin: 0;
  padding: 5px;
  text-align: center;
  /* vertical-align: baseline; */
}

.popupGrid {
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(7, 1fr);
  /* grid-template-rows: repeat(3, min-content); */
  padding: 0 2px 2px;
  /* margin-top: 20px; */
}

.popupBtn {
  width: 60px;
  height: 30px;
  position: absolute;
  border: none;
  border-radius: 5px;
}

.popupBtnReset {
  background-color: crimson;
  top: 2px;
  left: 2px;
}

.popupBtnOk {
  background-color: rgb(153, 150, 150);
  top: 2px;
  right: 2px;
}

.popupItem {
  background-color: rgb(85, 90, 114);
  /* display: flex; */
  /* align-items: center; */
  border-radius: 3px;
  /* padding: 2px; */
    overflow: hidden;
}

.popupItemLabel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.popupItemLabelBox {
  display: flex;
  align-items: center;
  padding: 2px;
  /* overflow: hidden; */
}

.popupItemCheckbox {
  margin-right: 3px;
}

.popupItemIcon {
  height: 45px;
  width: 45px;
}

.popupOpen {
  display: block;
}

.popupClose {
  display: none;
}

/* .flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.block {
  height: 40px;
  width: 40px;
  background-color: bisque;
}

.icon {
  height: 20px;
  width: 20px;
} */
