.report {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: rgb(153, 150, 150);
  padding: 0 10px;
}

.reportHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.searchBtn {
  min-width: 33%;
  min-height: 35px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: rgb(106, 103, 103);
  justify-self: flex-end;
  margin: 5px 0;
}

.btnWrapper {
  width: 33%;
  display: flex;
  flex-direction: column;
}

.checkboxLabel {
  font-size: 16px;
}

.reportTitle {
  width: 20%;
  text-align: center;
}

.reportList {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

.reportItemTitle {
  margin: 0;
  padding: 0;
}

.reportItem {
  width: 100%;
  display: flex;
  border-top: 1px solid rgb(106, 103, 103);
}

.reportItemName {
  width: 40%;
  font-size: 20px;
  font-weight: normal;
  text-align: start;
  margin: 0;
}

.reportItemInfo {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

.infoElement {
  width: 100%;
  display: flex;
}

.infoRelic {
  width: 55px;
  margin: 0;
  /* margin: 0 5px 0 0; */
  text-align: right;
}

.infoRarity {
  width: 55px;
  margin: 0;
  /* margin: 0 5px 0 0; */
  color: rgb(106, 103, 103);
  text-align: right;
}

.infoOmic {
  width: 15px;
  margin: 0 10px 0 0;
  text-align: right;
}

.infoName {
  margin: 0;
}
