@import url(../components/Body/Body.css);
@import url(../components/Header//Header.css);
@import url(../components/Title/Tilte.css);
@import url(../components/Search/Search.css);
@import url(../components/Report/Report.css);
@import url(../components/Footer/Footer.css);
@import url(../page/CharList.css);
@import url(../page/SelectionList.css);

.page {
  min-height: 100vh;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 20px;
  background-color: rgb(41, 68, 142);
  position: relative;
}
